/* Configurações do site*/

@import url('https://fonts.googleapis.com/css2? family= Inter:wght@200;300;400;500 & family= Poppins:wght@200;300;500;600 & family= Ubuntu:ital,wght@0,300;0,400;1,300;1,500 & display=swap');

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --colorOne: #010300;
    --colorTwo: #314c53;
    --colorThree: #5a7f78;
    --colorFour: #bbdec6;
    --colorFire: #f7f8fc;
}


/* Conteúdo do site*/

body{
    
    width: 100%;
    background: var(--colorThree);
    display: flex;
    flex-direction: column;
}

.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    background: radial-gradient(circle,rgb(61, 58, 159) 100%, rgb(80, 2, 116) 98% ) ;
    
}
   
.links{
    font-size: 1.05em;
    display: flex;
    font-weight: 400; 
    
}
    
.links li{
    list-style: none;
    padding: 10px;
}

li a{
    text-decoration: none;
    color: var(--colorFire);
    transition: 2s;
}

li a:hover{
    text-decoration: underline;
    transform: scale(1.05);
}


.content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: left;
}

.content-box h1{
    color: var(--colorFire);
    font-size: 2.5em;
    font-weight: 600;
}

.content-box h2{
    color: var(--colorFire);
    font-size: 2em;
    font-weight: 500;
}

.circle{
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle::before{
    content: ' ';
    position: absolute;
    inset: -90px 0 ;
    background: linear-gradient(300deg, orange,#ffffff, #00bfff );
    transition: 0.6s;
    animation: rotate 2.5s linear infinite;
    z-index: 3;

}

.circle:hover:before{
    inset: -20px 120px;
    animation: rotate 2.5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.circle img{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    z-index: 3;
}


.text-animation{
    animation: type 3s steps(40, end);
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid var(--colorFire);
}

@keyframes typing{
    from {width: 0;}
}

.sci{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;  
}

li{
    list-style: none;
}

.sci li a{
    
    font-size: 2em;
    color: var(--colorFire);
    margin: 0 10px;
}

.sci li a i{
    transition: 0.5s;
}

.sci li a i:hover {
    transform: translateY(-15px);
}

.main{
    height: 100vh;
    width: 100%;
   
    
}



.about{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-top: 0.3rem solid rgb(255, 255, 255);
    background: radial-gradient(circle,rgb(61, 58, 159) 100%, rgb(80, 2, 116) 98% ) ;
    width: 100%;
    height: 100vh;
    color: var(--colorFire);
    

    
    
}

.title{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.text{
    margin-top: 1rem;
    
    font-size: 1.2em;
    text-align: justify;
    padding: 0 1rem 0 1rem;
    
    
}

.evento{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
   
}

.evento img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.evento .description{
    padding: 2rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.description p{
    margin-top: 1rem;
    font-size: 0.8em;
    font-weight: 500;
}

/*Área de projetos */

.projects{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-top: 0.3rem solid rgb(255, 255, 255);
    background: radial-gradient(circle,rgb(61, 58, 159) 100%, rgb(80, 2, 116) 98% ) ;
    width: 100%;
    height: 100vh;
    color: var(--colorFire);

}


.title h2{
    font-size: 2em;
    font-weight: 600;
    
   
}

.container-projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    
    margin-bottom: 1rem;
    width: 100%;
    
    margin-top: 1rem;

}

.box-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    height: 12rem;
    background: radial-gradient(rgba(0, 0, 0, 0.1) 20%, rgba(172, 172, 172, 0.2)  ) ;
    box-shadow: rgba(0, 0, 0, 0.80) 0px 20px 30px -10px;
    border-radius: 10%;
    transition: 0.5s;
}

.box-project:hover{
    transform: scale(1.03);
}

.box-project img{
    width: 180px;
    height: 150px;
    filter: drop-shadow(rgb(0, 0, 0, 0.80) 2px 3px 10px  );
}

.box-project h2{
    font-size: 1.5em;
    margin: 0.5rem;
}

.box-project a{
    text-decoration: none;
    margin-top: 0.2rem;
    color: var(--colorFire);
    font-size: 1em;
    transition: 0.5s;
}

.box-project a:hover{
    color: var(--colorOne);
    
}

